[Unit]
Description=NATS using avena-overlay network namespace

[Container]
Image=docker.io/library/nats:latest
ContainerName=avena-nats
Network=avena-overlay.container
PublishPort=4222:4222/tcp

[Service]
Restart=always

[Install]
WantedBy=default.target
